#btn-create-plan {
    background: #8acbfe;
    color: #000000;
    border: #8acbfe;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

#btn-create-plan:focus {
    background-color: #2d9bee;
}

/*
    Sidebar CSS
*/

.main-text {
    margin: 50px;
}

.color-nav {
  background-color: #2d4059;
}

#sidebar-wrapper {
    display: inline-block;
    min-height: 100%;
    max-height: 100%;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
    background: #ffffff;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    background: #ffffff;
}

#sidebar-wrapper .list-group {
    width: 15rem;
    background: #ffffff;
}

#page-content-wrapper {
    min-width: 100vw;
    height: 100%;
    background: #ffffff;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
    background: #ffffff;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.color-nav {
  background-color: #2d4059;
}

.login-header {
  background-image: url("../Images/login-header-bg.jpg");
  height: 30vh;
  background-position:top left;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
}

.login-header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.login-background {
  background-image: url("../Images/login-bg.jpg");
  height: 70vh;
  background-position:top left;
  background-repeat: no-repeat;
  background-size: auto;
}
